<div class="container-fluid ">
  <h2 class="m-4">Répondre à une histoire</h2>
  <div class="container-fluid m-2 mb-4">
    <button (click)="random()" type="button" class="btn btn-primary">Search</button>
  </div>
</div>

<div class="container-fluid">
  <div class="container-fluid" *ngIf="randomStory">
    <div class="mt-2 mb-2">
      <span class="font-weight-bold"><h5>{{randomStory.title}}</h5></span>
      {{randomStory.content}}
    </div> <br>

    <form [formGroup]="responseForm" (ngSubmit)="add(respContent.value)" >
      <div class="form-group">
        <label for="resp-content">Entrer une réponse : </label>
        <textarea type="text" class ="form-control" id="resp-content" formControlName="content" rows="6" #respContent [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></textarea>
        <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
          <div *ngIf="f.content.errors.required">Response is required</div>
        </div>
      </div>
    </form>

    <button (click)="submit(respContent.value)" type="submit" class="btn btn-primary" respContent.value=''>Submit</button>

  </div>

  <div class="ml-3" *ngIf="show">
    <ngb-toast *ngIf="show" header="Information" [delay]="5000" [autohide]="autohide" (hide)="show = false; autohide = true">
      <div>
        Votre réponse à bien été envoyée
      </div>
    </ngb-toast>
  </div>

</div>
