<div class="container-fluid">
  <h2 class="m-4">Ecrire une histoire</h2>
  <form class="m-4" [formGroup]="storyForm" (ngSubmit)="add(storyTitle.value, storyContent.value)" >

    <div class="form-group">
      <label for="new-story-title">Title: </label>
      <input type="text" class="form-control mb-2" id="new-story-title" #storyTitle formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }"/>
      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">Title is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="new-story-content">Content: </label>
      <textarea class="form-control mb-2" rows="6" id="new-story-content" #storyContent formControlName="content" [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></textarea>
      <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
        <div *ngIf="f.content.errors.required">Content is required</div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

  <div class="ml-3" *ngIf="show">
    <ngb-toast *ngIf="show" header="Information" [delay]="5000" [autohide]="autohide" (hide)="show = false; autohide = true">
      <div>
        Votre histoire à bien été envoyée
      </div>
    </ngb-toast>
  </div>

</div>
