<div class="container-fluid ml-2" *ngIf="story">
  <h4 class="m-3">Details de l'histoire :</h4>
  <div class="m-3">
    <span class="font-weight-bold">ID : </span> {{story.id}} <br>
    <span class="font-weight-bold">Date de création : </span> {{story.creationDate}} <br>
    <span class="font-weight-bold">Titre : {{story.title}} </span> <br>
    <span class="font-weight-bold">Contenu : </span> {{story.content}} <br>
    <div *ngIf="story.response" class="mt-2 mb-2"><span class="font-weight-bold">Réponse : </span> {{story.response?.content}} </div>
    <span class="font-weight-bold">Validated : </span> {{story.validated}}
    <div class="form-check ml-1 mt-1">
      <input [(ngModel)]="story.validated" class="form-check-input" type="checkbox" id="flexCheckChecked">
      <label class="form-check-label" for="flexCheckChecked">
        Validation
      </label>
    </div>
    <button class="btn btn-primary mt-4" (click)="save()">Save</button>
  </div>

</div>
