<div class="container-fluid">
  <h2 class="m-4">Dashboard</h2>

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >

    <div class="col-8 mb-2 ml-2">
      <div class="form-check form-check-inline">
        <input #validated id="validated" formControlName="validated" (change)="onChange(validated.checked, responded.checked, all.checked)" class="form-check-input" type="checkbox"/>
        <label class="form-check-label" for="validated">Histoires validées</label>
      </div>
      <div class="form-check form-check-inline">
        <input #responded id="answered" formControlName="answered" (change)="onChange(validated.checked, responded.checked, all.checked)" class="form-check-input" type="checkbox" value="answered">
        <label class="form-check-label" for="answered">Avec réponse</label>
      </div>
      <div class="form-check form-check-inline">
        <input #all id="all" formControlName="all" (change)="onChange(validated.checked, responded.checked, all.checked)" class="form-check-input" type="checkbox" value="all">
        <label class="form-check-label" for="all">Tout</label>
        <!--<button class="btn btn-primary btn-sm ml-3" type="submit" [disabled]="!profileForm.valid">OK</button>-->
      </div>
    </div>

  </form>

  <div class="container row justify-content-start ml-1">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let story of stories$ | async"
      [class.active]="story.id === selectedStory?.id"
      (click)="onSelect(story)">
        {{story.title}}
      </li>
    </ul>
  </div>
</div>

<app-story-detail *ngIf="selectedStory" [story]="selectedStory"></app-story-detail>

